<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <!-- [()] caso n seja mostrado qual a variavel q ira busca ele busca o valor presente -->
  <ion-input label="Digite um ID:" [(ngModel)] ="id"></ion-input>
</ion-item>
<ion-button expand="block" (click)="buscarPorID()">
  Buscar por ID
</ion-button>

<ion-button expand="block" (click)="buscarProdutos()">
 Limpar Filtro
</ion-button>

<div *ngIf="produto">
  <h2 style="color:blueviolet">Resultado da Busca:</h2>
  <ion-item>
    <ion-badge slot="start">{{produto.id}}</ion-badge>
    <ion-label>
      <h3>{{produto.nome}}</h3>
      <p>{{produto.descricao}}</p>
      <p>{{produto.validade}}</p>
      <p>{{produto.preco}}</p>
    </ion-label>
  </ion-item>
</div>

<ion-item *ngFor="let produto of listaProdutos">
  <ion-badge slot="start">{{produto.id}}</ion-badge>
  <ion-label>
    <h3>{{produto.nome}}</h3>
    <p>{{produto.preco}}</p>
  </ion-label>
</ion-item>
</ion-content>

<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button routerLink="/cadastro-produto">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

